.git
.next
node_modules
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.venv
**/*.pyc
apps/*/node_modules
apps/*/.next
packages/*/node_modules
coverage
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
