# App
PROJECT_NAME="Twitch Ladder API"
DEBUG=true

# CORS
CORS_ALLOW_ORIGINS=["http://localhost:3000"]

# Logging
LOG_LEVEL=INFO
LOG_FORMAT=text

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=twitch_ladder

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# Twitch
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_AUTH_BASE_URL=https://id.twitch.tv
TWITCH_HELIX_BASE_URL=https://api.twitch.tv/helix
TWITCH_GQL_URL=https://gql.twitch.tv/gql
TWITCH_GQL_CLIENT_ID=
TWITCH_HTTP_TIMEOUT_SECONDS=10
